.main_div {
  width: 100%;
  height: calc(100vh - 96px);
  background: #7be0ed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.example-card {
  max-width: 400px;
  background: #fff;
  color: rgba(0,0,0,.87);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.img-card {
  width: 80%;
  margin: auto !important;
}

.img-card-wrap {
  height: 300px;
}

.btn-wrap{
  display: flex;
  justify-content: space-around;
}

button a {
  color: #ffffff;
}

button a:hover{
  text-decoration: none;
}
